{% extends "base.html" %}

{% block content %}
<div class="btn-group" role="group" aria-label="Basic outlined example" style="margin-top: 5px">
<a class="btn btn-outline-primary" href="./workallgroups" role="button">Отобразить по группам</a>
<a class="btn btn-outline-primary" href="{{url_for('users.createuser')}}" role="button">Пригласить пользователя</a>
<a class="btn btn-outline-primary" href="{{url_for('groups.creategroup')}}" role="button">Создать группу</a>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Имя Фамилия</th>
      <th scope="col">Номер</th>
      <th scope="col">Должность</th>
        <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
    <tbody>
        {%for user in users%}
        <tr>
          <td scope="row">
              <a class="text-decoration-none" style="color: black"
                 href="{{ url_for('users.edituser', id=user['id']) }}">
              {{ user['name'] }}</a></td>
          <td>{{ user['phone_number'] }}</td>
          <td>{{ user['organisation_role'] }}</td>
          <td>
              {% if user['tlg_authorized'] %}
                  <img src="../static/images/tg.png" alt="TG" class="img-rounded" style="height:30px; width:30px"/>
              {% else %}
                  <img src="../static/images/none.png" alt="" class="img-rounded" style="height:30px; width:30px"/>
              {% endif %}
              {% if user['vk_authorized'] %}
                  <img src="../static/images/vk.png" alt="VK" class="img-rounded" style="height:30px; width:30px"/>
              {% else %}
                  <img src="../static/images/none.png" alt="" class="img-rounded" style="height:30px; width:30px"/>
              {% endif %}
          </td>
          <td>  <div class="dropdown">
                  <a class="btn btn-info btn-sm dropdown-toggle"
                     href="#" role="button" id="dropdownMenuLink"
                     data-bs-toggle="dropdown"
                     aria-expanded="false"
                        style="background-color:blueviolet; color:white">
                    Группы
                  </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {% for row in relations if user['id'] == row['user_id']%}
                        {% for group in groups if group['id'] == row['group_id']%}
                            <li><a class="dropdown-item" href="{{ url_for('groups.editgroup', id=group['id']) }}">{{ group['name'] }}</a></li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                <a class="btn btn-info btn-sm" style="background-color:blueviolet; color:white" href="">
                    Сообщения
                </a>
                <a class="btn btn-info btn-sm" style="background-color:blueviolet; color:white" href="">
                    Отправить сообщение
                </a>
          </td>
        </tr>
          {%endfor%}
    </tbody>
</table>
{% endblock %}
