{% extends "base.html" %}

{% block content %}
<div class="btn-group" role="group" aria-label="Basic outlined example" style="margin-top: 5px">
<a class="btn btn-outline-primary" href="./workallusers" role="button">Отобразить всех пользователей</a>
<a class="btn btn-outline-primary" href="{{url_for('users.createuser')}}" role="button">Пригласить пользователя</a>
<a class="btn btn-outline-primary" href="{{url_for('groups.creategroup')}}" role="button">Создать группу</a>
</div>

    <div class="accordion" id="accordionPanelsStayOpenExample" style="margin-top: 10px">
    {% for group in groups if current_user.app_role == 'administrator' or current_user.id == group['owner_id'] or group['id'] == 4%}
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading{{ group['id'] }}">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ group['id'] }}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{ group['id'] }}">
            {{ group['name'] }}
          </button>
        </h2>
        <div id="panelsStayOpen-collapse{{ group['id'] }}" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading{{ group['id'] }}">
          <div class="accordion-body">
                <div class="btn-group" role="group" aria-label="Basic outlined example" style="margin-top: 5px; margin-right: 10px">
                    <a class="btn btn-outline-primary" href="{{ url_for('groups.editgroup', id=group['id']) }}" role="button">Редактировать группу</a>
                    <a class="btn btn-outline-primary" href="#" role="button">Сообщения</a>
                    <a class="btn btn-outline-primary" href="#" role="button">Отправить рассылку</a>
                </div>
                <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Имя Фамилия</th>
                          <th scope="col">Номер</th>
                          <th scope="col">Должность</th>
                            <th scope="col"></th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                    <tbody>
                        {% for row in relations if group['id'] == row['group_id']%}
                            {%for user in users if user['id'] == row['user_id']%}
                                <tr id="group{{ group['id'] }}user{{ user['id'] }}">
                                  <td scope="row">
                                      <a class="text-decoration-none" style="color: black"
                                        href="{{ url_for('users.edituser', id=user['id']) }}">
                                      {{ user['name'] }}</a></td>
                                  <td>{{ user['phone_number'] }}</td>
                                  <td>{{ user['organisation_role'] }}</td>
                                  <td>
                                      {% if user['tlg_authorized'] %}
                                          <img src="../static/images/tg.png" alt="TG" class="img-rounded" style="height:30px; width:30px"/>
                                      {% else %}
                                          <img src="../static/images/none.png" alt="" class="img-rounded" style="height:30px; width:30px"/>
                                      {% endif %}
                                      {% if user['vk_authorized'] %}
                                          <img src="../static/images/vk.png" alt="VK" class="img-rounded" style="height:30px; width:30px"/>
                                      {% else %}
                                          <img src="../static/images/none.png" alt="" class="img-rounded" style="height:30px; width:30px"/>
                                      {% endif %}
                                  </td>
                                  <td>
                                        <a class="btn btn-info btn-sm" style="background-color:blueviolet; color:white" href="">
                                            Отправить сообщение
                                        </a>
                                  </td>
                                </tr>
                              {%endfor%}
                        {% endfor %}
                    </tbody>
                </table>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>

{% endblock %}
